.programs-procharity__name {
  margin-left: 13px;
  font-size: 12px;
  color: var(--black-100);
  line-height: 14px;
  letter-spacing: 3px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .programs-procharity__name {
    font-size: 8px;
    line-height: 10px;
  }
}
