.programs-moscow-school__about {
  margin: 24px 0 0 652px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--black-100);
  max-width: 465px;
}

@media (max-width: 1279px) {
  .programs-moscow-school__about {
    margin: 20px 0 0 550px;
  }
}

@media (max-width: 1023px) {
  .programs-moscow-school__about {
    margin: 15px 0 0 425px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .programs-moscow-school__about {
    font-size: 18px;
    margin: 15px 0 0 24px;
    line-height: 24px;
  }
}
