.partners__slider-line {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 57px;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

@media (max-width: 576px) {
  .partners__slider-line {
    padding-left: 24px;
    gap: 32px;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .partners__slider-line::-webkit-scrollbar {
    display: none;
  }
}
