.card-cvv__input {
  width: 64px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 18px;
  margin-left: 205px;
  margin-right: 100px;
  margin-top: -17px;
  border: none;
  background-color: var(--black-100);
  z-index: 2;
}

@media (max-width: 768px) {
  .card-cvv__input {
    height: 56px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
    width: 104px;
    z-index: 0;
  }
}
