.activities__item_type_bulb {
  background: url("../../../../images/icons/bulb.svg") var(--turquoise-70) 10% 100% no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .activities__item_type_bulb {
    background-size: 80px;
    width: 271px;
  }
}

@media (max-width: 360px) {
  .activities__item_type_bulb {
    margin-left: 0;
    width: 100%;
  }
}
