.activities__item_type_responsibility {
  position: relative;
  background: url("../../../../images/icons/briefcase.svg") 0% 50% var(--yellow-70) no-repeat;
  grid-column: 1 / 2;
  grid-row: 6 / 8;
  margin-left: 616px;
}

@media (max-width: 1080px) {
  .activities__item_type_responsibility {
    margin-left: calc(100vw - 416px - 48px);
  }
}

@media (max-width: 768px) {
  .activities__item_type_responsibility {
    margin-left: calc(100vw - 304px - 24px);
    background-size: 80px;
    width: 304px;
  }
}

@media (max-width: 360px) {
  .activities__item_type_responsibility {
    margin-left: 0;
    width: 100%;
  }
}
