.popup-write-us__button-close {
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background: url("../../../../images/popup-write-us/button-close.svg") no-repeat center;
  background-size: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}
