.useful-card__image_icon_checklist {
  top: 51px;
  right: 68px;
}

@media (max-width: 576px) {
  .useful-card__image_icon_checklist {
    width: 94px;
    height: 94px;
    top: 88px;
    right: 39px;
  }
}
