.useful-card__image_icon_magnifying-glass {
  top: 34px;
  right: 18px;
}

@media (max-width: 576px) {
  .useful-card__image_icon_magnifying-glass {
    width: 114px;
    height: 114px;
    top: 93px;
    right: 30px;
  }
}
