.activitie {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: url("../../images/whatWeDoing.svg") 64px 40px no-repeat;
  padding: 0;
}

@media (max-width: 768px) {
  .activitie {
    background: url("../../images/whatWeDoingMobil.svg") no-repeat;
  }
}
