/* stylelint-disable no-missing-end-of-source-newline */
.activitie {
  display: flex;
  list-style-type: none;
  background: url("../../images/Чем\ мы\ занимаемся.svg") no-repeat;
  padding: 0;
  background-position: center;
  margin: 0 auto;
}