.blog-item__date {
  grid-area: date;

  color: var(--purple-60);
  font: 700 10px/1.2 var(--font-normal);
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .blog-item__date {
    letter-spacing: 0.08em;
  }
}

@media (min-width: 768px) {
  .blog-item_big .blog-item__date {
    color: var(--black-100);
  }
}
