.button_type_arrow {
  position: relative;
}

.button_type_arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 31px;
  width: 20px;
  height: 20px;
  background-image: url("../../../images/icons/arrow-right-up.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
