.footer__copyright_type_age {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0%;
  min-width: 34px;
  height: 34px;
  border: 1px solid #999;
  border-radius: 50%;
}
