.reset-button_active {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 39%;
  left: 58%;
}

.reset-button_active:hover {
  cursor: pointer;
}
