.subscription__subtitle {
  margin: 16px 0 0;
  grid-area: subtitle;
  font: 400 18px/22px var(--font-normal);
}

@media (max-width: 576px) {
  .subscription__subtitle {
    margin: 0;
    font: 400 18px/24px var(--font-normal);
  }
}
