.card__input_expiration-data {
  max-width: 96px;
  text-align: center;
  padding-left: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 4px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card__input_expiration-data {
    max-width: 112px;
  }
}
