.donation__frequency_label {
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  user-select: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 56px;
  padding: 6px 0;
  transition: 0.2s linear;
}

/* Hover */
.donation__frequency_label:hover {
  background-color: var(--purple-70);
  color: var(--black-100);
}

.donation__frequency_label:not(:nth-of-type(1)) {
  margin-left: -25px;
}
