.footer__social-link {
  display: block;
}

.footer__social-link::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
}
