.donation-main__title-italic {
  font: italic 400 62px/66px var(--font-italic);
}

@media (max-width: 1180px) {
  .donation-main__title-italic {
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  .donation-main__title-italic {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  .donation-main__title {
    font-size: 27px;
    line-height: 30px;
  }
}
