.donation__other-amount {
  width: 100%;
  height: 56px;
  background-color: var(--black-90);
  color: var(--black-10);
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 18px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}
