.subscription__button {
  border: none;
  padding: 18px 29px;
  background-color: var(--blue-70);
  border-radius: 56px;
  color: var(--black-100);
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}