.useful-links__cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 504px);
  grid-auto-rows: 208px;
  gap: 24px;
  justify-content: center;
}

@media (max-width: 520px) {
  .useful-links__cards {
    margin: 0 16px 0;
    grid-template-columns: repeat(auto-fit, minmax(343px, 504px));
    grid-auto-rows: 208px;
    gap: 16px;
  }
}
