.programs-Prof-Team__button {
  margin: 56px 0 0 124px;
  height: 56px;
  width: 201px;
  border-radius: 56px;
  color: var(--black-100);
  background-color: var(--pink-80);
  border: 0ch;
}

@media screen and (max-width: 1279px) {
  .programs-Prof-Team__button {
    margin: 36px 0 0 90px;
  }
}

@media screen and (max-width: 767px) {
  .programs-Prof-Team__button {
    margin: 24px 0 0 24px;
  }
}
