@media (min-width: 769px) {
  .blog-item_type_big {
    color: var(--black-100);
    background-color: var(--black-40);

    margin: 0 auto;

    grid-template:
      [row-start] ". . ." 1fr
      ". date ."
      ". . ." 16px
      ". title ."
      ". . ." 16px
      ". text ."
      ". . ." 26px [row-end]
      / [col-start] 24px fit-content(361px) 1fr [col-end];
  }
}
