.donation_short-form {
  min-width: 664px;
  min-height: 490px;
  padding: 56px 56px 64px;
  margin: 40px 32px 60px;
}

@media (max-width: 1180px) {
  .donation_short-form {
    margin: 40px auto 50px;
    padding: 40px 24px;
  }
}

@media (max-width: 768px) {
  .donation_short-form {
    min-width: 359px;
    margin: 40px auto 8px;
  }
}
