.input {
  display: block;
  background-color: var(--black-90);
  color: var(--black-50);
  box-sizing: border-box;
  padding: 0;
  border: none;
  font: 400 16px/20px var(--font-normal);
  height: 56px;
  padding-left: 18px;
}

.input:checked {
  background: var(--purple-70);
  color: var(--black-100);
}
