.programs-moscow-school__button {
  margin: 56px 0 0 652px;
  height: 56px;
  width: 201px;
  border-radius: 56px;
  color: var(--black-100);
  background-color: var(--blue-80);
  border: none;
  font-weight: bold;
  transition: 0.2s linear;
}

.programs-moscow-school__button:hover {
  background-color: var(--black-100);
  color: var(--black-10);
}

@media screen and (max-width: 1279px) {
  .programs-moscow-school__button {
    margin: 25px 0 0 550px;
  }
}

@media screen and (max-width: 1023px) {
  .programs-moscow-school__button {
    margin: 25px 0 0 425px;
  }
}

@media screen and (max-width: 767px) {
  .programs-moscow-school__button {
    margin: 24px 0 0 24px;
  }
}
