.programs-Moscow-School__button {
  margin: 56px 0 0 652px;
  height: 56px;
  width: 201px;
  border-radius: 56px;
  color: var(--black-100);
  background-color: var(--blue-80);
  border: none;
}

@media screen and (max-width: 1279px) {
  .programs-Moscow-School__button {
    margin: 25px 0 0 550px;
  }
}

@media screen and (max-width: 1023px) {
  .programs-Moscow-School__button {
    margin: 25px 0 0 425px;
  }
}

@media screen and (max-width: 767px) {
  .programs-Moscow-School__button {
    margin: 24px 0 0 24px;
  }
}
