.card__text {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 768px) {
  .card__text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
