.programs__title {
  font-size: 44px;
  font-weight: 700;
  margin: 0px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .programs__title {
    font-size: 32px;
  }
}
