.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo::before {
  content: "";
  display: block;
  background-image: url("../../images/logos/logo_friends.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
