.footer__copyright {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-basis: 39.1%;
  color: var(--black-50);
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1155px) {
  .footer__copyright {
    flex-basis: 100%;
  }
}
