.programs-moscow-school {
  background-color: var(--blue-70);
  height: 490px;
  position: relative;
  background-image: url("../../images/programs/MoscowSchool-team.png");
  background-size: 635px;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

@media (max-width: 1279px) {
  .programs-moscow-school {
    background-size: 535px;
    height: 390px;
  }
}

@media (max-width: 1023px) {
  .programs-moscow-school {
    background-size: 425px;
  }
}

@media (max-width: 767px) {
  .programs-moscow-school {
    height: 354px;
    background-image: none;
  }
}
