.programs-moscow-school__title {
  margin: 10px 0 0 652px;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: var(--black-100);
}

@media (max-width: 1279px) {
  .programs-moscow-school__title {
    margin: 10px 0 0 550px;
    font-size: 30px;
  }
}

@media (max-width: 1023px) {
  .programs-moscow-school__title {
    margin: 10px 0 0 425px;
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .programs-moscow-school__title {
    font-size: 32px;
    margin: 16px 0 0 24px;
    line-height: 36px;
  }
}
