.donation-section__title {
  font-size: 44px;
  line-height: 58px;
  text-align: center;
  max-width: 855px;
  margin: 56px auto 55px;
  font-weight: 700;
  color: var(--black-100);
}

@media (max-width: 925px) {
  .donation-section__title {
    width: 85%;
    margin-top: 41px;
    margin-bottom: 41px;
  }
}

@media (max-width: 768px) {
  .donation-section__title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 400px;
    text-align: left;
  }
}

@media (max-width: 575px) {
  .donation-section__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 425px) {
  .donation-section__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}
