.write-us__button-submit {
  width: 100%;
  margin: 14px 0 30px;
}

.write-us__form:valid > .write-us__button-submit {
  color: var(--black-100);
  background-color: var(--blue-70);
}

.write-us__form:valid > .write-us__button-submit:hover {
  background-color: var(--blue-60);
}

@media (max-width: 576px) {
  .write-us__button-submit {
    margin: 16px 0 0;
  }
}
