.card__wrapper {
  display: grid;
  grid-template-columns: 96px 100px auto;
  grid-template-rows: 23px 60px;
  column-gap: 27px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
.card__wrapper {
  grid-template-columns: 112px 104px;
  grid-template-rows: 24px 56px;
  column-gap: 32px;
  row-gap: 4px;

}}
