.donation__support-btn {
  width: 550px;
  height: 56px;
  color: var(--black-100);
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 56px;
  background-color: var(--yellow-70);
  margin-top: 28px;
}

.donation__support-btn:hover {
  background-color: var(--yellow-60);
}

@media (max-width: 768px) {
  .donation__support-btn {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .donation__support-btn {
    width: 100%;
    min-width: 311px;
    margin-left: auto;
    margin-right: auto;
  }
}
