.value-cell__paragraph {
  margin: 0;
  padding: 0 16px;
  font: 400 16px/22px var(--font-normal);
}

@media (max-width: 576px) {
  .value-cell__paragraph {
    font: 400 18px/25px var(--font-normal);
  }
}
