.popup-write-us {
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
  transition: visibility 0.2s, opacity 0.2s linear;
}
