.programs-Moscow-School__logo-title {
  display: flex;
  margin: 0 0 0 652px;
  padding-top: 75px;
}

@media screen and (max-width: 1279px) {
  .programs-Moscow-School__logo-title {
    margin: 0 0 0 550px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .programs-Moscow-School__logo-title {
    margin: 0 0 0 425px;
  }
}

@media screen and (max-width: 767px) {
  .programs-Moscow-School__logo-title {
    margin: 0 0 0 25px;
    padding-top: 32px;
  }
}

