.donation-page {
  display: flex;
  flex-direction: column;
  background-color: var(--black-100);
  margin-top: 56px;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(0deg, var(--purple-70),var(--purple-70));
  background-repeat: no-repeat;
  background-size: 100% 490px;
}
