.programs-procharity {
  background-color: var(--turquoise-70);
  margin-top: 56px;
  height: 490px;
  position: relative;
  background-image: url("../../images/ProCharity-image-laptop.png");
  background-size: 1011px;
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}

@media screen and (max-width: 1279px) {
  .programs-procharity {
    background-size: 800px;
    background-position: right 0 bottom 0;
    height: 390px;
  }
}

@media screen and (max-width: 1023px) {
  .programs-procharity {
    background-size: 600px;
  }
}

@media screen and (max-width: 767px) {
  .programs-procharity {
    margin-top: 24px;
    height: 292px;
    background-image: none;
  }
}
