.agreement__label {
  position: relative;
  padding-left: 32px;
}

.agreement__label::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid black;
  transition: .2s;
  border-radius: 4px;
  box-sizing: border-box;
}
