.subscription__title {
  margin: 0;
  font: 700 34px/36px var(--font-normal);

  grid-area: title;
}

@media (max-width: 576px) {
  .subscription__title {
    font: 700 34px/40px var(--font-normal);
  }
}
