.useful-links__title {
  font: var(--title-3);
  text-align: center;
  margin: 0 auto 56px;
}

@media (max-width: 576px) {
  .useful-links__title {
    font: var(--title-3);
    margin: 0 auto 24px;
  }
}
