.card-cvv {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 369px;
  min-height: 244px;
  top: 29px;
  right: 0;
  background-color: var(--black-75);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
}


@media (max-width: 768px) {
  .card-cvv {
    display: none
  }
}
