.our-friends-slide {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: "content" minmax(486px, min-content) /  minmax(0, 1fr);
}

@media (max-width: 576px) {
  .our-friends-slide {
    background-color: var(--black-90);
    grid-template: "content" minmax(408px, min-content) /  minmax(0, 1fr);
  }
}
