.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 42px;
  border-bottom: 0.5px solid var(--black-100-20p);
}

@media (max-width: 576px) {
  .footer__nav {
    padding-bottom: 25px;
    gap: 25px;
  }
}
