@media (max-width: 576px) {
  .header__programs-wrap_type_profteam {
    min-height: 320px;
    background-color: var(--pink-70);
    color: var(--black-100);
    padding: 32px 24px;
    grid-template:
      "icon"
      "." 10.35px
      "title"
      "." 20.36px
      "subtitle"
      "." 24px
      "button"
      / 1fr;
  }
}

.header__programs-wrap_type_profteam:hover,
.header__programs-wrap_type_profteam:focus {
  background-color: var(--pink-70);
  color: var(--black-100);
}
