.blog-item__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 328 / 216;
  object-fit: cover;
}

@media (max-width: 576px) {
  .blog-item__image {
    aspect-ratio: 343 / 216;
  }
}

@media (min-width: 769px) {
  .blog-item_type_big .blog-item__image {
    aspect-ratio: unset;
    height: 100%;
    grid-area: row-start / col-start / row-end / col-end;
  }
}
