.activitie__item_type_bulb {
  background: url("../../../../images/icons/bulb.svg") var(--turquoise-70) 10% 100% no-repeat;
  margin-top: 0;
}

@media (max-width: 768px) {
  .activitie__item_type_bulb {
    background-size: 80px;
    z-index: 4;
  }
}
