.activitie__item_type_learning {
  position: relative;
  background: url("../../../../images/icons/book.svg") var(--blue-70) 0% 100% no-repeat;
  margin: -43px auto 0 20.5%;
}

@media (max-width: 1000px) {
  .activitie__item_type_learning {
    margin-left: 18%;
  }
}

@media (max-width: 768px) {
  .activitie__item_type_learning {
    background-size: 80px;
    margin: -8px 0 0 15%;
  }
}

@media (max-width: 400px) {
  .activitie__item_type_learning {
    margin-left: 16px;
  }
}
