.activitie__item_type_development {
  background: url("../../../../images/icons/development.svg") 0% 50% var(--pink-70) no-repeat;
  margin-left: 448px;
}

@media (max-width: 1278px) {
  .activitie__item_type_development {
    margin-left: 200px;
  }
}

@media (max-width: 768px) {
  .activitie__item_type_development {
    background-size: 80px;
    margin-left: 32px;
    z-index: 2;
  }
}
