.subscription__form {
  grid-area: form;
  display: grid;
  grid-template: "input . button" / 328fr 16fr 152px;
}

@media (max-width: 576px) {
  .subscription__form {
    grid-template:
      "input"
      "." 16px
      "button"
      / 1fr;
  }
}
