@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/variables.css");

/* page block */
@import url("../blocks/page/page.css");

/* header block */


/* main block */
@import url("../blocks/main/main.css");

/* donation block */
@import url("../blocks/donation-page/donation-page.css");
@import url("../blocks/donation-page/__title/donation-page__title.css");
@import url("../blocks/donation-page/__title-italics/donation-page__title-italics.css");
@import url("../blocks/donation/donation.css");
@import url("../blocks/input/input.css");
@import url("../blocks/donation/__section/donation__section.css");
@import url("../blocks/donation/__section/_min-gap/donation__section_min-gap.css");
@import url("../blocks/donation/__subtitle/donation__subtitle.css");
@import url("../blocks/donation/__frequency-wrapper/donation__frequency-wrapper.css");
@import url("../blocks/donation/__frequency/donation__frequency.css");
@import url("../blocks/donation/__frequency/_input/donation__frequency_input.css");
@import url("../blocks/donation/__frequency/_label/donation__frequency_label.css");
@import url("../blocks/donation/__describe-monthlypay/donation__describe-monthlypay.css");
@import url("../blocks/donation/__describe-monthlypay/_opened/donation__describe-monthlypay_opened.css");
@import url("../blocks/donation/__amount-wrapper/donation__amount-wrapper.css");
@import url("../blocks/donation/__amount/donation__amount.css");
@import url("../blocks/donation/__amount/_radio-button/_one/donation__amount_radio-button_one.css");
@import url("../blocks/donation/__amount/_radio-button/_two/donation__amount_radio-button_two.css");
@import url("../blocks/donation/__amount/_radio-button/_three/donation__amount_radio-button_three.css");
@import url("../blocks/donation/__amount-input/donation__amount-input.css");
@import url("../blocks/donation/__amount-label/donation__amount-label.css");
@import url("../blocks/donation/__other-amount-wrapper/donation__other-amount-wrapper.css");
@import url("../blocks/donation/__other-amount/donation__other-amount.css");
@import url("../blocks/donation/__ruble/donation__ruble.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_rounded/button_rounded.css");
@import url("../blocks/button/_type/button_type_gray.css");
@import url("../blocks/button/_type/button_type_yellow.css");
@import url("../blocks/donation/__buttons/donation__buttons.css");
@import url("../blocks/donation/__button/donation__button.css");
@import url("../blocks/donation/__button/_visa-maestro-mir/_active/donation__button_visa-maestro-mir_active.css");
@import url("../blocks/donation/__button/_visa-maestro-mir/_default/donation__button_visa-maestro-mir_default.css");
@import url("../blocks/donation/__button/_googlepay/_default/donation__button_googlepay_default.css");
@import url("../blocks/donation/__button/_googlepay/_active/donation__button_googlepay_active.css");
@import url("../blocks/donation/__button/_applepay/_default/donation__button_applepay_default.css");
@import url("../blocks/donation/__button/_applepay/_active/donation__button_applepay_active.css");
@import url("../blocks/donation/__info/donation__info.css");
@import url("../blocks/donation/__info-wrapper/donation__info-wrapper.css");
@import url("../blocks/donation/__info-input/donation__info-input.css");
@import url("../blocks/card-box/card-box.css");
@import url("../blocks/card-box/_opened/card-box_opened.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__container/card__container.css");
@import url("../blocks/card/__inputs/card__inputs.css");
@import url("../blocks/card/__input/card__input.css");
@import url("../blocks/card/__input/_holder/card__input_holder.css");
@import url("../blocks/card/__input/_expiration-data/card__input_expiration-data.css");
@import url("../blocks/card/__text/card__text.css");
@import url("../blocks/card/__text-total/card__text-total.css");
@import url("../blocks/card/__wrapper/card__wrapper.css");
@import url("../blocks/card/__total-amount/card__total-amount.css");
@import url("../blocks/card/__title-cvv-formobile/card__title-cvv-formobile.css");
@import url("../blocks/card/__input-cvv-formobile/card__input-cvv-formobile.css");
@import url("../blocks/card-cvv/card-cvv.css");
@import url("../blocks/card-cvv/__gray-stripe/card-cvv__gray-stripe.css");
@import url("../blocks/card-cvv/__title/card-cvv__title.css");
@import url("../blocks/card-cvv/__input/card-cvv__input.css");
@import url("../blocks/card-cvv/__text/card-cvv__text.css");
@import url("../blocks/card/__formobile/card__formobile.css");
@import url("../blocks/card/__formobile/_closed/card__formobile_closed.css");
@import url("../blocks/agreement/agreement.css");
@import url("../blocks/agreement/_opened/agreement_opened.css");
@import url("../blocks/agreement/__label/agreement__label.css");
@import url("../blocks/agreement/__checkbbox/agreement__checkbox.css");
@import url("../blocks/agreement/__link/agreement__link.css");
@import url("../blocks/agreement/__text/agreement__text.css");
@import url("../blocks/donation/__support-btn/donation__support-btn.css");
@import url("../blocks/donation/__support-btn/_active/donation__support-btn_active.css");

/* feedback block */


/* statistics block */


/* more-help block */


/* write-us block */


/* subscribe block */


/* footer block */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__nav/footer__nav.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-item/footer__menu-item.css");
@import url("../blocks/footer/__menu-link/footer__menu-link.css");
@import url("../blocks/footer/__menu-link/_donate/footer__menu-link_donate.css");
@import url("../blocks/footer/__menu-button/footer__menu-button.css");
@import url("../blocks/footer/__submenu/footer__submenu.css");
@import url("../blocks/footer/__submenu-item/footer__submenu-item.css");
@import url("../blocks/footer/__submenu-link/footer__submenu-link.css");
@import url("../blocks/footer/__contacts-container/footer__contacts-container.css");
@import url("../blocks/footer/__contacts/footer__contacts.css");
@import url("../blocks/footer/__contact/footer__contact.css");
@import url("../blocks/footer/__contact-title/footer__contact-title.css");
@import url("../blocks/footer/__contact-value/footer__contact-value.css");
@import url("../blocks/footer/__socials/footer__socials.css");
@import url("../blocks/footer/__social-link/footer__social-link.css");
@import url("../blocks/footer/__social/footer__social.css");
@import url("../blocks/footer/__law/footer__law.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__copyright-age/footer__copyright-age.css");
@import url("../blocks/footer/__terms-of-use/footer__terms-of-use.css");
@import url("../blocks/footer/__duns-logo/footer__duns-logo.css");

/* logo block */
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/__image-container/logo__image-container.css");
@import url("../blocks/logo/__title/logo__title.css");
@import url("../blocks/logo/__title-foundation/logo__title-foundation.css");

/* submenu block */
@import url("../blocks/submenu/submenu.css");
@import url("../blocks/submenu/_active/submenu_active.css");
@import url("../blocks/submenu/_type/submenu_type_program.css");
