@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/variables.css");

/* close-button block */
@import url("../blocks/close-button/close-button.css");

/* active-el block */
@import url("../blocks/active-el/active-el.css");

/* button block */
@import url("../blocks/button/button.css");
@import url("../blocks/button/_rounded/button_rounded.css");
@import url("../blocks/button/_type/button_type_gray.css");
@import url("../blocks/button/_type/button_type_transparent.css");
@import url("../blocks/button/_type/button_type_yellow.css");

/* input block */
@import url("../blocks/input/input.css");
@import url("../blocks/input/_white/input_white.css");

/* page-block block */
@import url("../blocks/page-block/page-block.css");
@import url("../blocks/page-block/_partial/page-block_partial.css");
@import url("../blocks/page-block/_top-indent/page-block_top-indent.css");

/* page block */
@import url("../blocks/page/page.css");

/* header block */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__hamburger/header__hamburger.css");
@import url("../blocks/header/__hamburger/_active/header__hamburger_active.css");
@import url("../blocks/header/__fund/header__fund.css");
@import url("../blocks/header/__fund/_hidden/header__fund_hidden.css");
@import url("../blocks/header/__fund-list/header__fund-list.css");
@import url("../blocks/header/__fund-item/header__fund-item.css");
@import url("../blocks/header/__fund-link/header__fund-link.css");
@import url("../blocks/header/__fund-subtitle/header__fund-subtitle.css");
@import url("../blocks/header/__fund-title/header__fund-title.css");
@import url("../blocks/header/__help/header__help.css");
@import url("../blocks/header/__langs/header__langs.css");
@import url("../blocks/header/__lang/header__lang.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__menu/header__menu.css");
@import url("../blocks/header/__menu/_active/header__menu_active.css");
@import url("../blocks/header/__nav-list/header__nav-list.css");
@import url("../blocks/header/__nav-item/header__nav-item.css");
@import url("../blocks/header/__nav-link/header__nav-link.css");
@import url("../blocks/header/__nav/header__nav.css");
@import url("../blocks/header/__programs/header__programs.css");
@import url("../blocks/header/__programs-list/header__programs-list.css");
@import url("../blocks/header/__programs/_hidden/header__programs_hidden.css");
@import url("../blocks/header/__programs-button/header__programs-button.css");
@import url("../blocks/header/__programs-icon/header__programs-icon.css");
@import url("../blocks/header/__programs-item/header__programs-item.css");
@import url("../blocks/header/__programs-wrap/header__programs-wrap.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_procharity.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_profteam.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_school.css");
@import url("../blocks/header/__programs-subtitle/header__programs-subtitle.css");
@import url("../blocks/header/__programs-title/header__programs-title.css");
@import url("../blocks/header/__socials/header__socials.css");
@import url("../blocks/header/__social/header__social.css");
@import url("../blocks/header/__social-link/header__social-link.css");
@import url("../blocks/header/__social-link/_type/header__social-link_type_telegram.css");
@import url("../blocks/header/__social-link/_type/header__social-link_type_vk.css");
@import url("../blocks/header/__lang-btn/header__lang-btn.css");
@import url("../blocks/header/__lang-btn/_active/header__lang-btn_active.css");

/* main block */
@import url("../blocks/main/main.css");

/* donation block */
@import url("../blocks/donation-page/donation-page.css");
@import url("../blocks/donation-page/__title/donation-page__title.css");
@import url("../blocks/donation-page/__title-italics/donation-page__title-italics.css");
@import url("../blocks/donation/donation.css");
@import url("../blocks/donation/__section/donation__section.css");
@import url("../blocks/donation/__section/_min-gap/donation__section_min-gap.css");
@import url("../blocks/donation/__subtitle/donation__subtitle.css");
@import url("../blocks/donation/__frequency-wrapper/donation__frequency-wrapper.css");
@import url("../blocks/donation/__frequency/donation__frequency.css");
@import url("../blocks/donation/__frequency/_input/donation__frequency_input.css");
@import url("../blocks/donation/__frequency/_label/donation__frequency_label.css");
@import url("../blocks/donation/__describe-monthlypay/donation__describe-monthlypay.css");
@import url("../blocks/donation/__describe-monthlypay/_opened/donation__describe-monthlypay_opened.css");
@import url("../blocks/donation/__amount-wrapper/donation__amount-wrapper.css");
@import url("../blocks/donation/__amount/donation__amount.css");
@import url("../blocks/donation/__amount/_whole-width/donation__amount_whole-width.css");
@import url("../blocks/donation/__amount-input/donation__amount-input.css");
@import url("../blocks/donation/__other-amount-wrapper/donation__other-amount-wrapper.css");
@import url("../blocks/donation/__other-amount/donation__other-amount.css");
@import url("../blocks/donation/__ruble/donation__ruble.css");
@import url("../blocks/donation/__buttons/donation__buttons.css");
@import url("../blocks/donation/__button/donation__button.css");
@import url("../blocks/donation/__button/_active/donation__button_active.css");
@import url("../blocks/donation/__button/_type/donation__button_type_applepay.css");
@import url("../blocks/donation/__button/_type/donation__button_type_card.css");
@import url("../blocks/donation/__button/_type/donation__button_type_googlepay.css");
@import url("../blocks/donation/__card/donation__card.css");
@import url("../blocks/donation/__card/_hidden/donation__card_hidden.css");
@import url("../blocks/donation/__card-inputs/donation__card-inputs.css");
@import url("../blocks/donation/__card-input/donation__card-input.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__amount/card__amount.css");
@import url("../blocks/card/__cvv-input/card__cvv-input.css");
@import url("../blocks/card/__cvv-label/card__cvv-label.css");
@import url("../blocks/card/__cvv-text/card__cvv-text.css");
@import url("../blocks/card/__cvv/card__cvv.css");
@import url("../blocks/card/__expiration-input/card__expiration-input.css");
@import url("../blocks/card/__expiration/card__expiration.css");
@import url("../blocks/card/__holder/card__holder.css");
@import url("../blocks/card/__number/card__number.css");
@import url("../blocks/card/__text-total/card__text-total.css");
@import url("../blocks/card/__total-amount/card__total-amount.css");
@import url("../blocks/agreement/agreement.css");
@import url("../blocks/agreement/_opened/agreement_opened.css");
@import url("../blocks/agreement/__label/agreement__label.css");
@import url("../blocks/agreement/__checkbbox/agreement__checkbox.css");
@import url("../blocks/agreement/__link/agreement__link.css");
@import url("../blocks/agreement/__text/agreement__text.css");
@import url("../blocks/donation/__support-btn/donation__support-btn.css");
@import url("../blocks/donation/__support-btn/_active/donation__support-btn_active.css");

/* feedback block */


/* statistics block */


/* more-help block */


/* write-us block */


/* subscribe block */


/* footer block */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/_main/footer_main.css");
@import url("../blocks/footer/__nav/footer__nav.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-item/footer__menu-item.css");
@import url("../blocks/footer/__menu-link/footer__menu-link.css");
@import url("../blocks/footer/__menu-link/_donate/footer__menu-link_donate.css");
@import url("../blocks/footer/__menu-button/footer__menu-button.css");
@import url("../blocks/footer/__submenu/footer__submenu.css");
@import url("../blocks/footer/__submenu-item/footer__submenu-item.css");
@import url("../blocks/footer/__submenu-link/footer__submenu-link.css");
@import url("../blocks/footer/__contacts-container/footer__contacts-container.css");
@import url("../blocks/footer/__contacts/footer__contacts.css");
@import url("../blocks/footer/__contact/footer__contact.css");
@import url("../blocks/footer/__contact-title/footer__contact-title.css");
@import url("../blocks/footer/__contact-value/footer__contact-value.css");
@import url("../blocks/footer/__socials/footer__socials.css");
@import url("../blocks/footer/__social/footer__social.css");
@import url("../blocks/footer/__social-link/footer__social-link.css");
@import url("../blocks/footer/__social-link/_type/footer__social-link_type_telegram.css");
@import url("../blocks/footer/__social-link/_type/footer__social-link_type_vk.css");
@import url("../blocks/footer/__law/footer__law.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__copyright-age/footer__copyright-age.css");
@import url("../blocks/footer/__terms-of-use/footer__terms-of-use.css");
@import url("../blocks/footer/__duns-logo/footer__duns-logo.css");

/* logo block */
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/_type/logo_type_footer.css");
@import url("../blocks/logo/_type/logo_type_header.css");
@import url("../blocks/logo/__title/logo__title.css");
@import url("../blocks/logo/__title-foundation/logo__title-foundation.css");

/* submenu block */
@import url("../blocks/submenu/submenu.css");
@import url("../blocks/submenu/_active/submenu_active.css");
@import url("../blocks/submenu/_type/submenu_type_program.css");

/* fixed-menu block */
@import url("../blocks/fixed-menu/fixed-menu.css");

/* fixed-submenu block */
@import url("../blocks/fixed-submenu/fixed-submenu.css");
