@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/variables.css");

/* page block */
@import url("../blocks/page/page.css");

/* header block */


/* main block */
@import url("../blocks/main/main.css");

/* about-us block */


/* activities block */
@import url("../blocks/activities/activities.css");
@import url("../blocks/activities/__container/activities__container.css");
@import url("../blocks/activities/__text/activities__text.css");
@import url("../blocks/activities/__description/activities__description.css");
@import url("../blocks/activitie/activitie.css");
@import url("../blocks/activitie/__bulb/activitie__bulb.css");
@import url("../blocks/activitie/__development/activitie__development.css");
@import url("../blocks/activitie/__learning/activitie__learning.css");
@import url("../blocks/activitie/__responsibility/activitie__responsibility.css");
@import url("../blocks/activitie/__text/activitie__text.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/activitie/__reactangle/activitie__rectangle.css");

/* programs block */


/* values block */


/* statistics block */


/* useful-links block */


/* our-friends block */


/* blog block */


/* subscribe block */


/* partners block */


/* feedback block */


/* support block */


/* footer block */

