@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/variables.css");
@import url("../vendor/animations.css");

/* utils-break block */
@import url("../blocks/utils-break/utils-break.css");
@import url("../blocks/utils-break/_md/utils-break_md.css");
@import url("../blocks/utils-break/_sm/utils-break_sm.css");

/* arrow-button block */
@import url("../blocks/arrow-button/arrow-button.css");
@import url("../blocks/arrow-button/_dir/arrow-button_dir_left.css");
@import url("../blocks/arrow-button/_dir/arrow-button_dir_right.css");

/* carousel-dots block */
@import url("../blocks/carousel-dots/carousel-dots.css");
@import url("../blocks/carousel-dots/_hidden/carousel-dots_hidden.css");
@import url("../blocks/carousel-dots/__dot/carousel-dots__dot.css");
@import url("../blocks/carousel-dots/__dot/_color/carousel-dots__dot_color_transparent.css");
@import url("../blocks/carousel-dots/__dot/_color/carousel-dots__dot_color_gray.css");
@import url("../blocks/carousel-dots/__dot/_active/carousel-dots__dot_active.css");

/* carousel block */
@import url("../blocks/carousel/carousel.css");
@import url("../blocks/carousel/__dots/carousel__dots.css");
@import url("../blocks/carousel/__dots/_type/carousel__dots_type_inner.css");
@import url("../blocks/carousel/__dots/_type/carousel__dots_type_outer.css");
@import url("../blocks/carousel/_dots-placement/carousel_dots-placement_inner.css");
@import url("../blocks/carousel/_dots-placement/carousel_dots-placement_outer.css");
@import url("../blocks/carousel/__item/carousel__item.css");
@import url("../blocks/carousel/__item/_active/carousel__item_active.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_hide.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_slide-left.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_slide-right.css");
@import url("../blocks/carousel/__items/carousel__items.css");
@import url("../blocks/carousel/__next/carousel__next.css");
@import url("../blocks/carousel/__prev/carousel__prev.css");

/* page-block block */
@import url("../blocks/page-block/page-block.css");
@import url("../blocks/page-block/_partial/page-block_partial.css");
@import url("../blocks/page-block/_top-indent/page-block_top-indent.css");

/* logo block */
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/_type/logo_type_footer.css");
@import url("../blocks/logo/_type/logo_type_header.css");
@import url("../blocks/logo/__image-container/logo__image-container.css");
@import url("../blocks/logo/__title/logo__title.css");
@import url("../blocks/logo/__title-foundation/logo__title-foundation.css");

/* close-button block */
@import url("../blocks/close-button/close-button.css");

/* active-el block */
@import url("../blocks/active-el/active-el.css");

/* page block */
@import url("../blocks/page/page.css");

/* button block */
@import url("../blocks/button/button.css");
@import url("../blocks/button/_rounded/button_rounded.css");
@import url("../blocks/button/_type/button_type_gray.css");
@import url("../blocks/button/_type/button_type_transparent.css");
@import url("../blocks/button/_type/button_type_white.css");

/* header block */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__hamburger/header__hamburger.css");
@import url("../blocks/header/__hamburger/_active/header__hamburger_active.css");
@import url("../blocks/header/__fund/header__fund.css");
@import url("../blocks/header/__fund/_hidden/header__fund_hidden.css");
@import url("../blocks/header/__fund-list/header__fund-list.css");
@import url("../blocks/header/__fund-item/header__fund-item.css");
@import url("../blocks/header/__fund-link/header__fund-link.css");
@import url("../blocks/header/__fund-subtitle/header__fund-subtitle.css");
@import url("../blocks/header/__fund-title/header__fund-title.css");
@import url("../blocks/header/__help/header__help.css");
@import url("../blocks/header/__langs/header__langs.css");
@import url("../blocks/header/__lang/header__lang.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__menu/header__menu.css");
@import url("../blocks/header/__menu/_active/header__menu_active.css");
@import url("../blocks/header/__nav-list/header__nav-list.css");
@import url("../blocks/header/__nav-item/header__nav-item.css");
@import url("../blocks/header/__nav-link/header__nav-link.css");
@import url("../blocks/header/__nav/header__nav.css");
@import url("../blocks/header/__programs/header__programs.css");
@import url("../blocks/header/__programs-list/header__programs-list.css");
@import url("../blocks/header/__programs/_hidden/header__programs_hidden.css");
@import url("../blocks/header/__programs-button/header__programs-button.css");
@import url("../blocks/header/__programs-icon/header__programs-icon.css");
@import url("../blocks/header/__programs-item/header__programs-item.css");
@import url("../blocks/header/__programs-wrap/header__programs-wrap.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_procharity.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_profteam.css");
@import url("../blocks/header/__programs-wrap/_type/header__programs-wrap_type_school.css");
@import url("../blocks/header/__programs-subtitle/header__programs-subtitle.css");
@import url("../blocks/header/__programs-title/header__programs-title.css");
@import url("../blocks/header/__socials/header__socials.css");
@import url("../blocks/header/__social/header__social.css");
@import url("../blocks/header/__social-link/header__social-link.css");
@import url("../blocks/header/__social-link/_type/header__social-link_type_telegram.css");
@import url("../blocks/header/__social-link/_type/header__social-link_type_vk.css");
@import url("../blocks/header/__lang-btn/header__lang-btn.css");
@import url("../blocks/header/__lang-btn/_active/header__lang-btn_active.css");

/* main block */
@import url("../blocks/main/main.css");

/* hero-banner block */
@import url("../blocks/hero-banner/hero-banner.css");

/* hero-slide block */
@import url("../blocks/hero-slide/hero-slide.css");
@import url("../blocks/hero-slide/__background/hero-slide__background.css");
@import url("../blocks/hero-slide/__caption/hero-slide__caption.css");
@import url("../blocks/hero-slide/__caption/_add-contrast/hero-slide__caption_add-contrast.css");
@import url("../blocks/hero-slide/__link/hero-slide__link.css");
@import url("../blocks/hero-slide/__subtitle/hero-slide__subtitle.css");
@import url("../blocks/hero-slide/__subtitle-bold/hero-slide__subtitle-bold.css");
@import url("../blocks/hero-slide/__title/hero-slide__title.css");
@import url("../blocks/hero-slide/__title-emphasis/hero-slide__title-emphasis.css");


/* activities block */


/* programs block */
@import url("../blocks/programs/programs.css");
@import url("../blocks/programs/__title/programs__title.css");
@import url("../blocks/programs/__blocks/programs__blocks.css");

/* program block */
@import url("../blocks/program/program.css");
@import url("../blocks/program/_type/program_type_school.css");
@import url("../blocks/program/_type/program_type_procharity.css");
@import url("../blocks/program/_type/program_type_profteam.css");
@import url("../blocks/program/__about/program__about.css");
@import url("../blocks/program/__button/program__button.css");
@import url("../blocks/program/__name/program__name.css");
@import url("../blocks/program/__name/_type/program__name_type_school.css");
@import url("../blocks/program/__name/_type/program__name_type_procharity.css");
@import url("../blocks/program/__name/_type/program__name_type_profteam.css");
@import url("../blocks/program/__title/program__title.css");

/* values block */
@import url("../blocks/values/values.css");
@import url("../blocks/values/__title/values__title.css");
@import url("../blocks/values/__cells/values__cells.css");
@import url("../blocks/value-cell/value-cell.css");
@import url("../blocks/value-cell/__image/value-cell__image.css");
@import url("../blocks/value-cell/__paragraph/value-cell__paragraph.css");

/* statistics block */
@import url("../blocks/statistics/statistics.css");
@import url("../blocks/statistics/__cells/statistics__cells.css");
@import url("../blocks/statistics/__cell/statistics__cell.css");
@import url("../blocks/statistics/__heading/statistics__heading.css");
@import url("../blocks/statistics/__paragraph/statistics__paragraph.css");
@import url("../blocks/statistics/__font-bold/statistics__font-bold.css");

/* useful-links block */
@import url("../blocks/useful-links/useful-links.css");
@import url("../blocks/useful-links/__title/useful-links__title.css");
@import url("../blocks/useful-links/__card/useful-links__card.css");
@import url("../blocks/useful-links/__cards/useful-links__cards.css");
@import url("../blocks/useful-card/useful-card.css");
@import url("../blocks/useful-card/__title/useful-card__title.css");
@import url("../blocks/useful-card/__text/useful-card__text.css");
@import url("../blocks/useful-card/__paragraph/useful-card__paragraph.css");
@import url("../blocks/useful-card/__image/useful-card__image.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_handshake.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_books.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_magnifying-glass.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_checklist.css");

/* our-friends block */
@import url("../blocks/our-friends/our-friends.css");
@import url("../blocks/our-friends/__title/our-friends__title.css");

/* our-friends-slide block */
@import url("../blocks/our-friends-slide/our-friends-slide.css");
@import url("../blocks/our-friends-slide/__author/our-friends-slide__author.css");
@import url("../blocks/our-friends-slide/__background/our-friends-slide__background.css");
@import url("../blocks/our-friends-slide/__background/_align/our-friends-slide__background_align_left.css");
@import url("../blocks/our-friends-slide/__background/_align/our-friends-slide__background_align_right.css");
@import url("../blocks/our-friends-slide/__caption/our-friends-slide__caption.css");
@import url("../blocks/our-friends-slide/__caption/_align/our-friends-slide__caption_align_left.css");
@import url("../blocks/our-friends-slide/__caption/_align/our-friends-slide__caption_align_right.css");
@import url("../blocks/our-friends-slide/__description/our-friends-slide__description.css");
@import url("../blocks/our-friends-slide/__name/our-friends-slide__name.css");
@import url("../blocks/our-friends-slide/__title/our-friends-slide__title.css");
@import url("../blocks/our-friends-slide/__title-emphasis/our-friends-slide__title-emphasis.css");

/* blog block */
@import url("../blocks/blog/blog.css");
@import url("../blocks/blog/__dots/blog__dots.css");
@import url("../blocks/blog/__item/blog__item.css");
@import url("../blocks/blog/__item/_type/blog__item_type_big.css");
@import url("../blocks/blog/__item/_type/blog__item_type_right.css");
@import url("../blocks/blog/__link/blog__link.css");
@import url("../blocks/blog/__list/blog__list.css");
@import url("../blocks/blog/__next/blog__next.css");
@import url("../blocks/blog/__prev/blog__prev.css");
@import url("../blocks/blog/__title/blog__title.css");

/* blog-item block */
@import url("../blocks/blog-item/blog-item.css");
@import url("../blocks/blog-item/_big/blog-item_big.css");
@import url("../blocks/blog-item/__content/blog-item__content.css");
@import url("../blocks/blog-item/__date/blog-item__date.css");
@import url("../blocks/blog-item/__image/blog-item__image.css");
@import url("../blocks/blog-item/__sticker/blog-item__sticker.css");
@import url("../blocks/blog-item/__sticker/_type/blog-item__sticker_type_analysis.css");
@import url("../blocks/blog-item/__sticker/_type/blog-item__sticker_type_stats.css");
@import url("../blocks/blog-item/__text/blog-item__text.css");
@import url("../blocks/blog-item/__title/blog-item__title.css");

/* subscription block */
@import url("../blocks/subscription/subscription.css");
@import url("../blocks/subscription/__message/subscription__message.css");
@import url("../blocks/subscription/__message-heading/subscription__message-heading.css");
@import url("../blocks/subscription/__message-subtitle/subscription__message-subtitle.css");
@import url("../blocks/subscription/__form/subscription__form.css");
@import url("../blocks/subscription/__input/subscription__input.css");
@import url("../blocks/subscription/__input/_empty/subscription__input_empty.css");
@import url("../blocks/subscription/__button/subscription__button.css");


/* reset-button block */
@import url("../blocks/reset-button/reset-button.css");
@import url("../blocks/reset-button/_active/reset-button_active.css");


/* partners block */
@import url("../blocks/partners/partners.css");
@import url("../blocks/partners/_hidden/partners_hidden.css");
@import url("../blocks/partners/__title/partners__title.css");
@import url("../blocks/partners/__slider/partners__slider.css");
@import url("../blocks/partners/__button-left/partners__button-left.css");
@import url("../blocks/partners/__button-right/partners__button-right.css");
@import url("../blocks/partners/__slider-line/partners__slider-line.css");
@import url("../blocks/partners/__logo/partners__logo.css");
@import url("../blocks/partners/__button-view/partners__button-view.css");


/* feedback block */


/* support block */


/* footer block */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/_main/footer_main.css");
@import url("../blocks/footer/__nav/footer__nav.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-item/footer__menu-item.css");
@import url("../blocks/footer/__menu-link/footer__menu-link.css");
@import url("../blocks/footer/__menu-link/_donate/footer__menu-link_donate.css");
@import url("../blocks/footer/__menu-button/footer__menu-button.css");
@import url("../blocks/footer/__submenu/footer__submenu.css");
@import url("../blocks/footer/__submenu-item/footer__submenu-item.css");
@import url("../blocks/footer/__submenu-link/footer__submenu-link.css");
@import url("../blocks/footer/__contacts-container/footer__contacts-container.css");
@import url("../blocks/footer/__contacts/footer__contacts.css");
@import url("../blocks/footer/__contact/footer__contact.css");
@import url("../blocks/footer/__contact-title/footer__contact-title.css");
@import url("../blocks/footer/__contact-value/footer__contact-value.css");
@import url("../blocks/footer/__socials/footer__socials.css");
@import url("../blocks/footer/__social/footer__social.css");
@import url("../blocks/footer/__social-link/footer__social-link.css");
@import url("../blocks/footer/__social-link/_type/footer__social-link_type_telegram.css");
@import url("../blocks/footer/__social-link/_type/footer__social-link_type_vk.css");
@import url("../blocks/footer/__law/footer__law.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__copyright-age/footer__copyright-age.css");
@import url("../blocks/footer/__terms-of-use/footer__terms-of-use.css");
@import url("../blocks/footer/__duns-logo/footer__duns-logo.css");


/* submenu block */
@import url("../blocks/submenu/submenu.css");
@import url("../blocks/submenu/_active/submenu_active.css");
@import url("../blocks/submenu/_type/submenu_type_program.css");

/* fixed-menu block */
@import url("../blocks/fixed-menu/fixed-menu.css");

/* fixed-submenu block */
@import url("../blocks/fixed-submenu/fixed-submenu.css");
