@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../vendor/variables.css");
@import url("../vendor/animations.css");

/* utils-break block */
@import url("../blocks/utils-break/utils-break.css");
@import url("../blocks/utils-break/_md/utils-break_md.css");
@import url("../blocks/utils-break/_sm/utils-break_sm.css");

/* arrow-button block */
@import url("../blocks/arrow-button/arrow-button.css");
@import url("../blocks/arrow-button/_dir/arrow-button_dir_left.css");
@import url("../blocks/arrow-button/_dir/arrow-button_dir_right.css");

/* carousel-dots block */
@import url("../blocks/carousel-dots/carousel-dots.css");
@import url("../blocks/carousel-dots/_hidden/carousel-dots_hidden.css");
@import url("../blocks/carousel-dots/__dot/carousel-dots__dot.css");
@import url("../blocks/carousel-dots/__dot/_color/carousel-dots__dot_color_transparent.css");
@import url("../blocks/carousel-dots/__dot/_color/carousel-dots__dot_color_gray.css");
@import url("../blocks/carousel-dots/__dot/_active/carousel-dots__dot_active.css");

/* carousel block */
@import url("../blocks/carousel/carousel.css");
@import url("../blocks/carousel/__dots/carousel__dots.css");
@import url("../blocks/carousel/__dots/_type/carousel__dots_type_friends.css");
@import url("../blocks/carousel/__dots/_type/carousel__dots_type_hero.css");
@import url("../blocks/carousel/_dots-placement/carousel_dots-placement_inner.css");
@import url("../blocks/carousel/_dots-placement/carousel_dots-placement_outer.css");
@import url("../blocks/carousel/__item/carousel__item.css");
@import url("../blocks/carousel/__item/_active/carousel__item_active.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_hide.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_slide-left.css");
@import url("../blocks/carousel/__item/_animation/carousel__item_animation_slide-right.css");
@import url("../blocks/carousel/__items/carousel__items.css");
@import url("../blocks/carousel/__next/carousel__next.css");
@import url("../blocks/carousel/__prev/carousel__prev.css");

/* whole-width block */
@import url("../blocks/whole-width/whole-width.css");

/* page block */
@import url("../blocks/page/page.css");

/* header block */


/* main block */
@import url("../blocks/main/main.css");

/* hero-banner block */
@import url("../blocks/hero-banner/hero-banner.css");

/* hero-slide block */
@import url("../blocks/hero-slide/hero-slide.css");
@import url("../blocks/hero-slide/__background/hero-slide__background.css");
@import url("../blocks/hero-slide/__caption/hero-slide__caption.css");
@import url("../blocks/hero-slide/__caption/_add-contrast/hero-slide__caption_add-contrast.css");
@import url("../blocks/hero-slide/__link/hero-slide__link.css");
@import url("../blocks/hero-slide/__subtitle/hero-slide__subtitle.css");
@import url("../blocks/hero-slide/__subtitle-bold/hero-slide__subtitle-bold.css");
@import url("../blocks/hero-slide/__title/hero-slide__title.css");
@import url("../blocks/hero-slide/__title-emphasis/hero-slide__title-emphasis.css");


/* activities block */
@import url("../blocks/activities/activities.css");
@import url("../blocks/activities/__container/activities__container.css");
@import url("../blocks/activities/__text/activities__text.css");
@import url("../blocks/activities/__description/activities__description.css");
@import url("../blocks/activitie/activitie.css");
@import url("../blocks/activitie/__bulb/activitie__bulb.css");
@import url("../blocks/activitie/__development/activitie__development.css");
@import url("../blocks/activitie/__learning/activitie__learning.css");
@import url("../blocks/activitie/__responsibility/activitie__responsibility.css");
@import url("../blocks/activitie/__text/activitie__text.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/activitie/__reactangle/activitie__rectangle.css");

/* programs block */
@import url("../blocks/programs/programs.css");
@import url("../blocks/programs/__title/programs__title.css");
@import url("../blocks/programs/__blocks/programs__blocks.css");
@import url("../blocks/programs-procharity/programs-procharity.css");
@import url("../blocks/programs-procharity/__about/programs-procharity__about.css");
@import url("../blocks/programs-procharity/__button/programs-procharity__button.css");
@import url("../blocks/programs-procharity/__logo-title/programs-procharity__logo-title.css");
@import url("../blocks/programs-procharity/__name/programs-procharity__name.css");
@import url("../blocks/programs-procharity/__title/programs-procharity__title.css");
@import url("../blocks/programs-moscow-school/programs-moscow-school.css");
@import url("../blocks/programs-moscow-school/__about/programs-moscow-school__about.css");
@import url("../blocks/programs-moscow-school/__button/programs-moscow-school__button.css");
@import url("../blocks/programs-moscow-school/__logo-title/programs-moscow-school__logo-title.css");
@import url("../blocks/programs-moscow-school/__name/programs-moscow-school__name.css");
@import url("../blocks/programs-moscow-school/__title/programs-moscow-school__title.css");
@import url("../blocks/programs-prof-team/programs-prof-team.css");
@import url("../blocks/programs-prof-team/__about/programs-prof-team__about.css");
@import url("../blocks/programs-prof-team/__button/programs-prof-team__button.css");
@import url("../blocks/programs-prof-team/__name/programs-prof-team__name.css");
@import url("../blocks/programs-prof-team/__logo-title/programs-prof-team__logo-title.css");
@import url("../blocks/programs-prof-team/__title/programs-prof-team__title.css");


/* values block */


/* statistics block */


/* useful-links block */
@import url("../blocks/useful-links/useful-links.css");
@import url("../blocks/useful-links/__title/useful-links__title.css");
@import url("../blocks/useful-links/__cards/useful-links__cards.css");
@import url("../blocks/useful-card/useful-card.css");
@import url("../blocks/useful-card/__title/useful-card__title.css");
@import url("../blocks/useful-card/__text/useful-card__text.css");
@import url("../blocks/useful-card/__paragraph/useful-card__paragraph.css");
@import url("../blocks/useful-card/__image/useful-card__image.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_handshake.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_books.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_magnifying-glass.css");
@import url("../blocks/useful-card/__image/_icon/useful-card__image_icon_checklist.css");

/* our-friends block */
@import url("../blocks/our-friends/our-friends.css");
@import url("../blocks/our-friends/__title/our-friends__title.css");

/* our-friends-slide block */
@import url("../blocks/our-friends-slide/our-friends-slide.css");
@import url("../blocks/our-friends-slide/__author/our-friends-slide__author.css");
@import url("../blocks/our-friends-slide/__background/our-friends-slide__background.css");
@import url("../blocks/our-friends-slide/__background/_align/our-friends-slide__background_align_left.css");
@import url("../blocks/our-friends-slide/__background/_align/our-friends-slide__background_align_right.css");
@import url("../blocks/our-friends-slide/__caption/our-friends-slide__caption.css");
@import url("../blocks/our-friends-slide/__caption/_align/our-friends-slide__caption_align_left.css");
@import url("../blocks/our-friends-slide/__caption/_align/our-friends-slide__caption_align_right.css");
@import url("../blocks/our-friends-slide/__description/our-friends-slide__description.css");
@import url("../blocks/our-friends-slide/__name/our-friends-slide__name.css");
@import url("../blocks/our-friends-slide/__title/our-friends-slide__title.css");
@import url("../blocks/our-friends-slide/__title-emphasis/our-friends-slide__title-emphasis.css");


/* blog block */


/* subscribe block */


/* partners block */


/* feedback block */


/* support block */


/* footer block */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/_main/footer_main.css");
@import url("../blocks/footer/__nav/footer__nav.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-item/footer__menu-item.css");
@import url("../blocks/footer/__menu-link/footer__menu-link.css");
@import url("../blocks/footer/__menu-link/_donate/footer__menu-link_donate.css");
@import url("../blocks/footer/__menu-button/footer__menu-button.css");
@import url("../blocks/footer/__submenu/footer__submenu.css");
@import url("../blocks/footer/__submenu-item/footer__submenu-item.css");
@import url("../blocks/footer/__submenu-link/footer__submenu-link.css");
@import url("../blocks/footer/__contacts-container/footer__contacts-container.css");
@import url("../blocks/footer/__contacts/footer__contacts.css");
@import url("../blocks/footer/__contact/footer__contact.css");
@import url("../blocks/footer/__contact-title/footer__contact-title.css");
@import url("../blocks/footer/__contact-value/footer__contact-value.css");
@import url("../blocks/footer/__socials/footer__socials.css");
@import url("../blocks/footer/__social-link/footer__social-link.css");
@import url("../blocks/footer/__social/footer__social.css");
@import url("../blocks/footer/__law/footer__law.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/footer/__copyright-age/footer__copyright-age.css");
@import url("../blocks/footer/__terms-of-use/footer__terms-of-use.css");
@import url("../blocks/footer/__duns-logo/footer__duns-logo.css");

/* logo block */
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/__image-container/logo__image-container.css");
@import url("../blocks/logo/__title/logo__title.css");
@import url("../blocks/logo/__title-foundation/logo__title-foundation.css");

/* submenu block */
@import url("../blocks/submenu/submenu.css");
@import url("../blocks/submenu/_active/submenu_active.css");
@import url("../blocks/submenu/_type/submenu_type_program.css");
