.donation__button_googlepay_default {
  background-image: url("../../../../../images//donation/googleblack.svg");
}

/* Hover */
.donation__button_googlepay_default:hover {
  background-image: url("../../../../../images//donation/google_active.svg")
}
