.subscription__input {
  border: none;
  box-sizing: border-box;
  width: 328px;
  padding: 18px 32px;
  background-color: var(--black-100);
  border-radius: 56px;
  color: var(--black-10);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.subscription__input::placeholder {
  background-image: url("/images/icons/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: 32px 50%;
  color: var(--black-50);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}