/* stylelint-disable no-missing-end-of-source-newline */
.activities__text {
  font-family: var(--font-normal);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: calc(100%/2);
}

@media screen and (max-width: 1023px) {
  .activities__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .activities__text {
    line-height: 23px;
  }
}

