.activities__text {
  display: flex;
  flex-flow: column nowrap;
  gap: 26px;
  grid-area: text;
  font: 400 18px/26.5px var(--font-normal);
}

@media (max-width: 768px) {
  .activities__text {
    line-height: 23px;
    gap: 23px;
  }
}
