.donation__form {
  max-width: 680px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  background-color: white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 56px;
  padding-bottom: 72px;
}

@media screen and (max-width: 768px) {
  .donation__form {
    width: 85%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 56px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 575px) {
  .donation__form {
    width: 95%;
    padding-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
