.activitie__item {
  width: 416px;
  height: 163px;
  border-radius: 136px;
  margin-top: -42px;
}

@media (max-width: 768px) {
  .activitie__item {
    margin-top: -9px;
    width: 271px;
    height: 102.23px;
  }
}
