.donation-block__title {
  font-size: 62px;
  line-height: 66px;
  font-weight: 700px;
  color: var(--black-100);
  width: 513px;
  margin: 94px 0 168px 51px;
  font-family: var(--font-normal);
}

@media (max-width: 1180px) {
  .donation-block__title {
    font-size: 48px;
    line-height: 52px;
    width: 90%;
    margin: 55px auto 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .donation-block__title {
    width: 85%;
    font-size: 35px;
    line-height: 40px;
    text-align: left;
  }
}

@media (max-width: 425px) {
  .donation-block__title {
    width: 90%;
    margin: 48px 19px 0 24px;
    font-size: 27px;
    line-height: 37px;
  }
}
