.arrow-button {
  padding: 0;
  margin: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: var(--black-90-40p);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease;
}

.arrow-button:hover,
.arrow-button:focus-visible {
  background-color: var(--black-100);
  cursor: pointer;
}
