.card__input-cvv-formobile {
  width: 104px;
  height: 56px;
  grid-column: 2/3;
  grid-row: 2/2;
  box-sizing: border-box;
  padding-left: 18px;
  margin-top: 4px;
  margin-left: 0;
  margin-right: 0;
  border: none;
  background-color: var(--black-100);
  z-index: 0;
}
