.blog__link {
  margin: 56px auto 0;

  /* FIXME: remove */
  text-align: center;
  width: 300px;
  display: block;
  color: inherit;
}

@media (max-width: 576px) {
  .blog__link {
    margin-top: 24px;
  }
}
