.button {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: none;
  text-decoration: none;
  text-align: center;
  font: 700 16px/20px var(--font-normal);
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear, color 0.2s linear;
}
