.header__nav-item {
  font: 400 16px/20px var(--font-normal);
  display: grid;
  grid-template: "link ." / auto minmax(0, 4px);
}

@media (max-width: 576px) {
  .header__nav-item {
    font: 700 24px/38px var(--font-normal);
  }
}

