.footer__submenu {
  padding: 0;
  padding-top: 8px;
  margin: 0;
  list-style: none;
  max-width: 740px;
  width: 100%;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .footer__submenu {
    padding-top: 0;
    gap: 25px;
  }
}
